DATABASE=""
FRONTEND_URL=""
JWT_SECRET=""
NODE_ENV="" 
EMAIL_USER=""
EMAIL_APP=""
REDIS_PASSWORD=""
REDIS_HOST=""
REDIS_PORT=""
CLOUDINARY_NAME=''
CLOUDINARY_APIKEY=''
CLOUDINARY_APISECRET=''
COOKIE_DOMAIN=".mindmaster.click"